.newsletter-support-logo{
    width: 254px; 
    height: auto; 
    float: right; 
    border: none;
}
/* set text styles*/
.page-contents li{
  margin: 0 0 7px;
}
.page-contents img{
    max-width: 100%;
}

.page-contents h2{
    border-bottom:2px solid #000000;
}

.page-contents a{
    color: #006600; 
    -ms-word-break: break-all; 
    word-break: break-word; 
    -webkit-hyphens: none; 
    -moz-hyphens: none; 
    hyphens: none;
    text-decoration: underline;
}