/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

//theme sizes
 
.sci-container {
   @include u-maxw($theme-grid-container-max-width);
   @include u-margin-x('auto');
}


.usa-header + .usa-hero {
   border-top: 0;
 }
 
//side nav formatting
.main-side {
  @include u-maxw($theme-grid-container-max-width);
}

//code block scroll
pre { 
   @include u-padding-left(1); 
   overflow-x: auto; 
}

//hero adjustments

.usa-hero__callout {

   @include at-media("tablet") {
      max-width: units("tablet");
   }
}

.full {
   .usa-hero__callout {
      @include at-media($theme-header-min-width) {
         max-width: units($theme-header-min-width);
      }
   }
   .hero-graphic{
      @include at-media-max($theme-header-min-width) {
         @include u-display('none') 
      }
   }
}

.usa-hero {
   @include u-bg('primary');
   .usa-hero__callout {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         @if variable-exists(hero-header) {
            color: color("white");
         }
      }
   }
}

// footer

.usa-footer__secondary-link {
   text-align: left;
}

.usa-footer__secondary-link a {
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}

.footer-flex {
   @include at-media-max('tablet') {
      display:flex;
      @include u-flex('column');
      @include u-flex('align-center') 
   }
}

//table

.table-list {
   @include usa-table;
   @include usa-table--compact;
   @include usa-table--borderless;
}