<div class="usa-accordion usa-accordion--bordered tablet:margin-x-2">
    {% for _option in _navsections %}
    {% capture optionurl %}{% if _option.internal or intlinks %}{{ _option.url | relative_url }}{% else %}{{
    _option.url }}{% endif %}{% endcapture %}
    {% assign testurl = optionurl | slice: 0 %}
    {% unless testurl=="#" %}
    {% assign ariacontrol = _option.title | slugify %}
    <div class="usa-accordion__heading">
      <button
        type="button"
        class="usa-accordion__button"
        aria-expanded="false" 
        aria-controls="{{ ariacontrol }}"
      >
      {{ _option.title }}
      </button>
    </div>
    <div id="{{ ariacontrol }}" class="usa-accordion__content usa-prose" hidden="">
        <div class="usa-card__body">
            {% if _option.internal %}
                    {% for _post in all_posts %}
                        {% if _post.url == _option.url %}
                            
                                {% if _post.excerpt %}{{ _post.excerpt }}
                                {% endif %}
                            
                        {% endif %}
                    {% endfor %}
            {% else %}
                
                    {% if _option.excerpt %}
                    {{ _option.excerpt }}
                    {% endif %}
                
            {% endif %} 
            <div class="text-right">
                <a class="usa-button usa-button--outline margin-y-1" href="{{ optionurl }}">
                    Read More
                </a>
            </div>
        </div>
        {% if show_list or _option.shows_list %}
        <div class="usa-card__footer">
            {% if _option.shows_list == "subnav" or compiled %}
                {% assign sectiontitle = "Guide Sections" %}
                {% if compiled %}
                    {% assign guide = _option.subnav %}
                {% else %}
                {% for _chkguide in all_posts %}
                    {% if _option.url == _chkguide.url %}
                        {% assign guide = _chkguide.subnav %}
                    {% endif %}
                {% endfor %}
                {% endif %}
            {% else %}
                {% assign sectiontitle = "Guide Pages" %}
                {% assign guide = guidepages | where_exp: "post", "post.categories == _option.categories" %}
            {% endif %}
            {% assign pnum = guide | size %}
            {% unless pnum == 0 %}
            {% if _option.sorted %}
            {% assign guide = guide | sort: 'order_number' %}
            {% endif %}
            <div class="border-top-2px margin-3">
                <h3>{{ sectiontitle }}</h3>
                <ul class="usa-card-group margin-y-4 maxw-tablet margin-x-auto flex-align-center">
                    {% assign alt_buttons = page.alt_calendar.buttons %}
                    {% for _section in guide %}
                    <li class="tablet:grid-col-12 featured_posts margin-y-1">
                        <a href="{% if _option.shows_list == 'subnav' or compiled %}
                                    {% if _section.internal %}
                                    {{ _section.title | slugify | prepend: '#' | prepend: optionurl }}
                                    {% else %}
                                    {{ optionurl | append: _section.url }}
                                    {% endif %}
                                    {% else %}{{ _section.url | relative_url }}{% endif %}">
                            <div class="usa-card__container display-flex flex-row padding-2">
                                <div class="overflow-hidden desktop:grid-col-fill">
                                    <h4 class="arrow margin-0">{{ _section.title }}</h4>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endunless %}
        </div>
        {% endif %}
    </div>
    {% endunless %}
    {% endfor %}
  </div>