{% capture mycollect %}{%- if include.collect %}{{ include.collect.collect }}{%- else %}{{ page.collect }}{%- endif %}{% endcapture %}
{% if page.no-year or page.type == "itinerary" %}
{% assign no-year = true %}
{% endif %}
{% assign post_type = "" %}

{% if mycollect == 'event' %}

{% include collect/process/allevents %}
{% assign myposts = allevents %}

{% else %}


{% if mycollect == "announcements" %}
  {% assign myposts = site[mycollect] %}
  {% assign flow = 'reverse' %}
  {% assign post_type = 'calendar' %}
  {% assign no_date_below = true %}
{% elsif mycollect == "workshops" %}
    {% assign all_posts = site.workshops | where: 'future', 'show' %}
    {% assign myposts = all_posts | where_exp: "post", "post.categories == page.categories and post.type == 'workshop' " %}
{% elsif mycollect == "collect_list" %}
  {% assign myposts = page.collect_list %}
  {% assign no-year = true %}
{% else %}

{% assign myposts = site[mycollect] %}
{% endif %}

{% endif %}

{% if page.filter %}
  {% if page.filter.tag %}
    {% assign myposts = myposts | where_exp: "post", "post.tags contains page.filter.tag" %}
  {% endif %}
  {% if page.filter.provider %}
    {% assign myposts = myposts | where_exp: "post", "post.provider == page.filter.provider" %}
  {% endif %}
  {% if page.filter.other %}
    {% assign myposts = myposts | where_exp: "post", "post.filtered == page.filter.other" %}
  {% endif %}
  {% if page.filter.external %}
    {% assign all_external = "true" %}
  {% endif %}
{% endif %}

{% if page.reverse_collection %}
  {% assign flow = 'reverse' %}
{% endif %}

{% if page.post_type %}
{% assign post_type = page.post_type %}
{% endif %}

{% assign pnum = myposts | size %}
{% if pnum > 0 %}

{%- if include.collect.collect_title %}
<h2>{{ include.collect.collect_title }}</h2>
{%- elsif page.collect_title %}
<h2>{{ page.collect_title }}</h2>
{%- endif %}

{% if mycollect == 'events-recurring' or mycollect =='events' %}
  {% include collect/components/calendar myevents=myposts pagetype="future" post_type=post_type %}
  {% include collect/components/calendar myevents=myposts pagetype="archive" post_type=post_type %}
{% else %}
<ul class="usa-list usa-list--unstyled">
{% if flow == 'reverse' %}
{% for _post in myposts reversed %} 
  {% include collection.html post=_post %}
{% endfor %}
{% else %}
{% for _post in myposts %} 

  {% include collection.html post=_post %}
{% endfor %}
{% endif %}
</ul>
{% endif %}

<br>

{% endif %}