{% if page.no-year or page.type == "itinerary" %}
{% assign no-year = true %}
{% endif %}

{% assign myposts = site[page.collect] %}


{% if page.collect == "announcements" %}
  {% assign flow = 'reverse' %}
  {% assign post_type = 'calendar' %}
  {% assign no_date_below = true %}
{% elsif page.collect == "workshops" %}
    {% assign all_posts = site.workshops | where: 'future', 'show' %}
    {% assign myposts = all_posts | where_exp: "post", "post.categories == page.categories and post.type == 'workshop' " %}
{% elsif page.collect == "collect_list" %}
  {% assign myposts = page.collect_list %}
  {% assign no-year = true %}
{% endif %}

{% if page.filter %}
  {% if page.filter.tag %}
    {% assign myposts = myposts | where_exp: "post", "post.tags contains page.filter.tag" %}
  {% endif %}
  {% if page.filter.provider %}
    {% assign myposts = myposts | where_exp: "post", "post.provider == page.filter.provider" %}
  {% endif %}
{% endif %}

{% if page.reverse_collection %}
  {% assign flow = 'reverse' %}
{% endif %}

{% if page.post_type %}
{% assign post_type = page.post_type %}
{% endif %}

{% assign pnum = myposts | size %}
{% if pnum > 0 %}

{% if page.collect_title %}
<h2>{{ page.collect_title }}</h2>
{% endif %}

<ul class="usa-list usa-list--unstyled">
{% if flow == 'reverse' %}
{% for _post in myposts reversed %} 
  {% include collection.html post=_post %}
{% endfor %}
{% else %}
{% for _post in myposts %} 

<script>console.log("{{ _post.title }}")</script>
  {% include collection.html post=_post %}
{% endfor %}
{% endif %}
</ul>

<br>

{% endif %}