{% assign post = include.post %}

{% if post.categories contains page.title or post.type contains page.posttype or post.categories == page.categories or page.filter %}
  {% if no-year %}
    {% if forloop.first %}<ul>{% endif %}
    {% include collect/components/event %}
    {% if forloop.last %}</ul>{% endif %}
  {% else %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3 id="y{{post.date | date: '%Y'}}">{{ currentdate }}</h3>
      <ul>
      {% assign date = currentdate %}
    {% endif %}
    {% include collect/components/event %}
  {% if forloop.last %}</ul>{% endif %}
{% endif %}
{% endif %}