{% if include.table %}
{% assign table=include.table %}
{% elsif include.local %}
{% assign table = page[include.local] %}
{% endif %}

{% if table.data %}
{% assign tabledata = table.data %}
{% else %}
{% for _table in site.data.tables %}
{% if _table[0] == table.source %}
    {% assign tabledata = _table[1] %}
{% endif %}
{% endfor %}
{% endif %}

{% if table.title %}
<h2>{{ table.title }}</h2>
{% endif %}

{% if table.split=="subnav" %}
    {% for _listing in page.subnav %}
        {% if _listing.table %}
        <h2>{{ _listing.title }}</h2>

        {% include components/table.html split=_listing.title %}
        {% endif %}
    {% endfor %}
{% elsif table.split %}
    {% assign dividelist = "" | split: "" %}
    {% for row in tabledata %}
    {% for pair in row %}
        {% if pair[0] == table.split %}
            {% assign dividelist = dividelist | push: pair[1] %}
        {% endif %}
    {% endfor %}
    {% endfor %}

    {% assign dividelist = dividelist | uniq %}

    {% for _div in dividelist %}
        {% assign words = _div | split: ' ' %}
        {% capture titlecase %}
        {% for word in words %}
            {{ word | capitalize }}
        {% endfor %}{% endcapture %}
        <h3>{{ titlecase }}</h3>

        {% include components/table.html split=_div %}
    {% endfor %}

{% else %}

    {% include components/table.html %}

{% endif %}

{% if table.elaborate %}
<div>{{ table.elaborate }}</div>
{% endif %}

