{% if include.table %}
{% assign table=include.table %}
{% endif %}



{% for _table in site.data.tables %}
{% if _table[0] == table.source %}
    {% assign tabledata = _table[1] %}
{% endif %}
{% endfor %}

{% if table.title %}
<h2>{{ table.title }}</h2>
{% endif %}

<div class="usa-table-container{% if table.scroll %}--scrollable{% endif %}" tabindex="0">
<table class="usa-table usa-table--striped">
    {% if table.caption %}
    <caption>
        {{ table.caption }}
    </caption>
    {% endif %}
    <thead>
        <tr>
        {% for pair in tabledata[0] %}
            {% unless pair[0]=="url" %}
            <th {% if table.sort %}data-sortable scope="col"{% endif %} role="columnheader">{{ pair[0] }}</th>
            {% endunless %}
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in tabledata %}
            {% unless forloop.first %}
            <tr>
                {% for pair in row %}
                {% unless pair[0]=="url" %}
                {% if forloop.first %}
                <th scope="row">
                    {% assign urlcheck = "false" %}
                    {% for _pair in row %}
                        {% if _pair[0]=="url" %}
                        <a href="{{ _pair[1] }}">
                            {{ pair[1] }}
                            {% assign urlcheck = "true" %}
                        </a>
                        {% endif %}
                    {% endfor %}
                    {% if urlcheck=="false" %}{{ pair[1] }}{% endif %}
                </th>  
                {% else %}
                <td data-sort-value="{{ pair[1] }}">{{ pair[1] }}</td>
                {% endif %}
                {% endunless %}
                {% endfor %}
            </tr>
            {% endunless %}
        {% endfor %}
    </tbody>
</table>
{% if table.announcement %}
<div class="usa-table__announcement-region" aria-live="polite">
   {{ table.announcement }}
</div>
{% endif %}
</div>

{% if table.elaborate %}
<div>{{ table.elaborate }}</div>
{% endif %}

