@use "uswds-core" as *;
@use "overrides" as OR;

//menu

.usa-megamenu.usa-nav__submenu::after,
.usa-megamenu.usa-nav__submenu::before {
   opacity: 0;
}

.nav-width-2{
   @include at-media($theme-header-min-width) {
      width: 30rem;
   }
}

.usa-nav__submenu{
   @include at-media($theme-header-min-width) {
      padding: units(2);
    }
}

.usa-megamenu.usa-nav__submenu{
   @include at-media($theme-header-min-width) {
      padding: units(2);
    }
}

.m-top-0 {
   @include OR.m-top-0;
}

.sublist {
   @include u-padding-bottom(1);
   @include at-media($theme-header-min-width) {
      @include u-padding-bottom(0.5);
   }

   li {
      @include u-margin-top(0);

      @include at-media ($theme-header-min-width) {
         @include u-margin-top(0.5);
      }

      .sublinks {
         font-size: font-size($theme-header-font-family, "3xs");
            @include u-padding-y(0.5);

         @include at-media-max($theme-header-min-width) {
            @include OR.pad-05;
            @include u-margin-top(0);
         }
      }
   }
}

.usa-nav__primary .usa-accordion__button span{
   padding-right: .8rem
}

//header

.sci-heading {

   .usa-logo {
      display: flex;
      
      font-size: font-size($theme-header-font-family, "2xs");
      @include at-media('mobile-lg'){
         font-size: font-size($theme-header-font-family, "xs");
      }

      @include at-media($theme-header-min-width) {
         font-size: font-size($theme-header-font-family, "lg");

      }

      @include at-media-max($theme-header-min-width) {
         line-height: line-height($theme-header-font-family, 1);
         @include u-margin-left(1);
         @include at-media('mobile-lg') {
         margin-left: units($theme-site-margins-mobile-width);
         }
      }
      a.agency-logo-text {
         text-decoration: none;
         color: $theme-color-base-darker;
      
         &:hover {
            color: $theme-color-base-darker;
            text-shadow: none;
         }
      }
   }
   .usa-social-link{
      @include at-media-max($theme-header-min-width) {
         @include u-height(5);
         @include u-width(5);
      }
   }
}

.agency-identity {
   display: flex;
   flex-direction: column;
   @include u-padding(1);

   .agency-name {
      float: left;
   }

   .tagline {
      float: left;
      font-weight: 200;
      text-transform: uppercase;
      margin-top: 4px;

      @include at-media($theme-header-min-width) {
         font-size: font-size($theme-header-font-family, "xs");
      }

      @include at-media-max($theme-header-min-width) {
         font-size: font-size($theme-header-font-family, "3xs");
      }
   }
}

.usa-logo-img{
   @include u-height(4);
   @include at-media($theme-header-min-width) {
      @include u-height(6);
   }
}