@use "uswds-core" as *;

.guide-nav{
    @include u-border-top('05');
    @include u-bg('base-lightest') 
}

.guide-nav.usa-current{
    @include u-border-top(0);
    @include u-border-bottom(2px);
}

// Map for high contrast search icon
$search-icon2: (
  "name": "search",
  "color": currentColor,
  "svg-height": 20,
  "svg-width": 20,
  "position-x": center,
  "position-y": center,
  "height": units(2.5),
);

.sidenav-search{
    @include u-bg('primary-lighter');
    @include u-text('center');
    @include place-icon($search-icon2, "before");
    &:before{
        margin-right: 6px;
    }
}

.usa-sidenav{
    background-color: color('white');
    border: 2px solid color('base-lighter');
    border-radius: .25rem;
    .usa-sidenav__sublist {
      .usa-current {
        color: color($theme-color-primary-vivid);
      }
    }
    
    li.current-section{
      border-top:    2px solid color('gray-cool-10');
      border-bottom: 1px solid color('gray-cool-10');
      border-left: 4px solid color($theme-color-primary-vivid);
      a.current-section{
          font-weight: bold;
      }
  
      .pagelinks {
          a {
              padding-left: units(2);
            }
          a.current-section{
              font-weight: bold;
          }
  
          .usa-sidenav__sublist {
              a {
                padding-left: units(4);
              }
              .usa-sidenav__sublist { 
                  a {
                  padding-left: units(6);
                  }
                  .usa-sidenav__sublist {
                      a {
                          padding-left: units(8);
                      }
                  }
              }
          }
      }
  
      .is-current{
          border-left: none;
      }
    }
    .is-current{
      background-color: color('gray-2');
      border-left: 4px solid color($theme-color-primary-vivid);
    }
    .usa-current{
      background-color: color('gray-2');
    }
    .usa-current::after{
      content: none !important;
    }
  }