@use "overrides" as OR;

.top-header {
    @include OR.top-header
}

.no-display {
    @include OR.no-display
}

.unstyled-list {
    list-style-type:none
}

.allow-overflow {
    overflow:visible
}

.hero-img {
    background-image: url("/assets/img/hero.jpg")
}

.no-hero-img {
    background-image: none
}

.inline-svg {
    position: relative;
    top: .25em;
    flex-shrink: 0;
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.page-contents img{
    padding: 1em;
}

.nwrap{
    white-space: nowrap;
}