{%- assign num = section_links | size -%}
{% capture navclass %}{% if num < 3 %}usa-nav__submenu-item desktop:grid-col-{{ 12 | divided_by: num }}{% else %}usa-nav__submenu-item desktop:grid-col-3{% endif %}{% endcapture %}
<ul id="{{ _section_id }}" class="{% if num < 3 %}usa-nav__submenu nav-width-{{ num }}{% else %}usa-nav__submenu usa-megamenu{% endif %}" hidden="">
    <div class="grid-row grid-gap-4">
        {%- for _link in section_links -%}
            {%- assign next_i = forloop.index0 | plus: 1 -%}
            {%- assign prev_i = forloop.index0 | minus: 1 -%}
            {%- if _link.sublinks -%}
        <li class="{{ navclass }} m-top-0">
            {%- assign link_sublinks = site.data.navigation[_link.sublinks] | default: _link.sublinks -%}

                    {%- assign _link_handle = _link.title | handleize -%}
                    {%- assign _link_id = _link_handle | prepend: _section_id -%}
                    <div class="">
                        <a href="{% include url.html link=_link %}">
                            {{ _link.title }}
                        </a>
                    </div>

                    <ul id="{{ _link_id }}" class="sublist">


                        {%- for _sublink in link_sublinks -%}

                            <li>
                                <a class="sublinks" href="{% include url.html link=_sublink %}">
                                    {{ _sublink.title }}
                                </a>
                            </li>

                        {%- endfor -%}
                    </ul>
                </li>
            {%- else -%}
            {%- if forloop.first or section_links[prev_i].sublinks -%}
                <li class="{{ navclass }} ">
                    <ul class="usa-nav__submenu-list">
            {%- endif -%}
                        <li class="usa-nav__submenu-item">
                            <a href="{% include url.html link=_link %}">
                                {{ _link.title }}
                            </a>
                        </li>
                {%- if section_links[next_i].sublinks or forloop.last -%}
                    </ul>
                </li>
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}
    </div>
</ul>