{% assign session = include.session %}
{% if include.fixdate %}
    {% assign fixdate = include.fixdate %}
{% endif %}

{% capture thisdate %}{% if fixdate %}{{ fixdate }}{% elsif session.date %}{{ session.date }}{% else %}{{ postdate }}{% endif %}{% endcapture %}
{% assign timeout = site.time | date: '%s' | plus: 0 %}
{% assign timecheck = thisdate | date: '%s' | plus: 0 %}

<li class="usa-collection__meta-item">
    <b>{{ thisdate | date: "%A, %B %-d" }}{% if pagetype == "archive" or page.layout=='event' %}, {{ thisdate | date: "%Y" }}{% endif %}{% if session.time %}, {{ session.time }} {% endif %}</b>
    <ul class="unstyled-list">
        {% unless timecheck <= timeout %}
            {% if session.register or registration != "false" %}
                {% if session.register %}
                    {% assign registration = session.register %}
                {% endif %}
                {% capture sessregtext %}{% if registration.text %}{{ registration.text }}{% else %}{{ regtext }}{% endif %}{% endcapture %}
                <li><b>Registration: </b>
                    {% include components/link.html url=registration.url text=sessregtext external=true %}
                </li>
            {% endif %}
        {% endunless %}
        {% if session.instructor %} <li><b>Instructor: </b>{{ session.instructor }}</li>{% endif %}
        {% if session.location %} <li><b>Location: </b>{{ session.location }}</li>{% endif %}
        {% unless timecheck <= timeout %}
        <li><b>Prerequisites: </b>
            {% if session.prerequisites %}
            <ul class="unstyled-list">
                {% for _prerequisite in session.prerequisites %}
                <li>
                    {% if _prerequisite.url %}
                    <a
                        href="{% if _prerequisite.external %}{{ _prerequisite.url }}{% else %}{{ _prerequisite.url | relative_url }}{% endif %}">
                        {{ _prerequisite.text }}
                    </a>
                    {% else %}
                    {{ _prerequisite.text }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            None
            {% endif %}
        </li>
        {% endunless %}
        {% if session.materials %}
            {% for _material in session.materials %}
            <li>{% include components/link.html url=_material.url text=_material.text external=true %}</li>
            {% endfor %}
        {% endif %}

    </ul>
</li>