{% if include.post %}
{% assign post = include.post %}
{% endif %}



{% assign posttitle = post[1] %}
{% assign postexcerpt = post[2] %}
{% assign posttype = post[3] %}
{% assign postprovider = post[4] %}
{% assign posttags = post[5] %}
{% assign posturl = post[6] %}
{% assign postend_date = post[7] %}

{% assign registration = post[8] %}
{% capture regtext %}{% if registration.text %}{{ registration.text }}{% else %}Register Here{% endif %}{% endcapture %}

{% assign postdate = post[9] %}

{% assign postsessions = "false" %}
{% assign postsession = "false" %}
{% assign hassessions = "false" %}
{% if post[10] %}
    {% assign hassessions = "true" %}
    {% if post[10].date %}
        {% assign postsession = post[10] %}
    {% else %}
        {% assign postsessions = post[10] %}
    {% endif %}
{% endif %}

<li class="{% if cal_id %}{{ cal_id }}{% endif %} usa-collection__item width-full maxw-full" {% if sort_list %}
    tagged="{% for tag in posttags %}{{ tag }} {% endfor %}all" type="{% if posttype %}{{ posttype }} {% endif %}all"
    instructor="{% unless postprovider == 'false' %}{{ postprovider }} {% endunless %}all" year="{{ postdate | date: '%Y' }}"
    month="{{ postdate | date: '%m' }}" {% endif %}>
    {% if post_type == 'calendar' or pagetype=='future' %}
    {% assign m = postdate | date: "%B" %}
    <div class="usa-collection__calendar-date">
        <time datetime="{{ postdate | date_to_string }}">
            <span class="usa-collection__calendar-date-month">

                {% case m %}
                {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
                {% when 'September' %}Sept
                {% else %}{{ postdate | date: "%b" }}
                {% endcase %}
            </span>
            <span class="usa-collection__calendar-date-day">{{ postdate | date: "%-d" }}</span>
        </time>
    </div>
    {% endif %}
    <div class="usa-collection__body">
        {% unless page.cal-titles == 'hide' %}
        <h3 class="usa-collection__heading">
            {% unless page.layout == 'event' and posturl == page.url %}<a class="usa-link" href="{{ posturl | relative_url}}">{% endunless %}
                {% if post_type == 'calendar' %}
                    {% if pagetype == "archive" %}
                        {{ postdate | date: "%Y" }} &middot 
                    {% endif %}
                    {% unless page.layout == 'workshop' or page.layout == "event" %}
                    {% if postprovider != 'false' %}
                        {{ postprovider }} &middot 
                    {% endif %}
                    {% endunless %}
                    {{ posttitle }}
                {% else %}
                    {% if no_date_below %}{{ postdate | date_to_string }} &middot {% endif %}{% unless page.layout == "event" %}{% if postprovider != 'false' and page.type != 'itinerary' %}{{ postprovider }} &middot {% endif %}{% endunless %}{{
                posttitle }}
                {% endif %}
                {% unless page.layout == 'event' and posturl == page.url %}</a>{% endunless %}
        </h3>
        {% unless page.type == 'itinerary' %}
        {% if excerpt_type == 'long' %}
        <p class="usa-collection__description">
            {{ postexcerpt }}
        </p>
        {% else %}
        <p class="usa-collection__description"> <!--removed truncatewords -->
            {{ postexcerpt }} 
        </p>
        {% endif %}
        {% endunless %}
        {% endunless %}
        <ul class="usa-collection__meta" aria-label="Event details">
            {% if hassessions == "true" %}
                {% if postsessions == "false" %}
                    {% include components/collection/collection-item.html session=postsession postdate=postdate %}
                {% else %}
                    {% for _session in postsessions %}
                        {% include components/collection/collection-item.html session=_session postdate=postdate %}
                    {% endfor %}
                {% endif %}
            {% else %}
            {% unless no_date_below %}
            <li class="usa-collection__meta-item">
                <b>{{ postdate | date: "%A, %B %-d"}}
                    {% unless postend_date == 'false' %} - {{ postend_date | date: "%A, %B %-d"}}{% endunless %}
                    {% unless post_type == 'calendar' %} &middot {{ postdate | date: "%Y" }}{% endunless %}
                </b>
                {% unless registration == 'false' or pagetype == "archive" %}
                <ul class="unstyled-list">
                    <li><b>Registration: </b>
                        {% include components/link.html url=registration.url text=regtext external=true %}
                    </li>
                </ul>
                {% endunless %}
            </li>
            {% endunless %}
            {% endif %}


        </ul>
        {% unless page.layout == 'workshop' or page.no-tags or page.layout=='event' %}
        {% unless posttags == 'false' and posttype == 'false' %}
        <ul class="usa-collection__meta" aria-label="Tags">
            {% if posttype != 'false' %}
            <li class="usa-collection__meta-item usa-tag">{{ posttype }}</li>
            {% endif %}
            {% if posttags != 'false' %}
            {% for tag in posttags %}
            <li class="usa-collection__meta-item usa-tag">{{ tag | replace: "-", " " }}</li>
            {% endfor %}
            {% endif %}
        </ul>

        {% endunless %}
        {% endunless %}
    </div>

</li>
