{% if include.pagetype %}
  {% assign pagetype=include.pagetype %}
{% else %}
{% assign pagetype = page.type %}
{% endif %}

{% if pagetype == "future" %}
  {% assign timemin = site.time | date: '%s' | minus: 86400 %}
  {% assign timemax = 199999999999 %}
  {% assign flow = 'normal' %}

{% elsif pagetype == "archive" %}
  {% assign timemin = 0 %}
  {% assign timemax = site.time | date: '%s' | plus: 0 %}
  {% assign flow = 'reverse' %}

{% else %}
  {% assign timemin = 0 %}
  {% assign timemax = 199999999999 %}
  {% assign flow = 'reverse' %}

{% endif %}


{% if include.filter == "true" %}
{% assign gettags = '' | split: '' %}
{% assign getsessiontags = '' | split: '' %}
{% endif %}

{% assign dummyvar = "false" %}
{% assign myevents = '' | split: '' %}

{% if include.simple_events %}
  {% assign mysimple_events = include.simple_events %}

  {% for _event in mysimple_events %}

    {% if include.filter == "true" %}
    {% assign gettags = gettags | push: _event %}
    {% endif %}

    {% assign _eventdetails = '' | split: '' %}

    {% capture eventdateint %}{% if _event.date %}{{ _event.date | date: '%s' | plus: 0 }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
    {% capture eventtitle %}{% if _event.title %}{{ _event.title }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
    {% capture eventexcerpt %}{% if _event.excerpt %}{{ _event.excerpt }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
    {% capture eventtype %}{% if _event.type %}{{ _event.type }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
    {% capture eventprovider %}{% if _event.provider %}{% if _event.hideprovider %}{{ dummyvar }}{% else %}{{ _event.provider }}{% endif %}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
    {% capture eventurl %}{% if _event.url %}{{ _event.url }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
    {% capture eventend_date %}{% if _event.end_date %}{{ _event.end_date }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
    {% capture eventdate %}{% if _event.date %}{{ _event.date }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}

    {% assign _eventdetails = _eventdetails | push: eventdateint %}
    {% assign _eventdetails = _eventdetails | push: eventtitle %}
    {% assign _eventdetails = _eventdetails | push: eventexcerpt %}
    {% assign _eventdetails = _eventdetails | push: eventtype %}
    {% assign _eventdetails = _eventdetails | push: eventprovider %}
    {% if _event.tags %}
      {% assign _eventdetails = _eventdetails | push: _event.tags %}
    {% else %}
      {% assign _eventdetails = _eventdetails | push: dummyvar %}
    {% endif %}
    {% assign _eventdetails = _eventdetails | push: eventurl %}
    {% assign _eventdetails = _eventdetails | push: eventend_date %}
    {% if _event.registration %}
      {% assign _eventdetails = _eventdetails | push: _event.registration %}
    {% else %}
      {% assign _eventdetails = _eventdetails | push: dummyvar %}
    {% endif %}
    {% assign _eventdetails = _eventdetails | push: eventdate %}


    {% if _event.sessions %}
      {% assign _eventdetails = _eventdetails | push: _event.sessions %}
    {% endif %}
    {% assign myevents = myevents | push: _eventdetails %}
  {% endfor %}

{% endif %}
{% if include.comp_events %}
  {% assign comp_events = include.comp_events %}

  {% for _event in comp_events %}
  {% if page.filter-archive=="materials" and pagetype == "archive" %}
    {% assign eventsessions = _event.sessions | where_exp: "session", "session.materials" %}
  {% else %}
    {% assign eventsessions = _event.sessions %}
  {% endif %}
    {% for _session in eventsessions %}
      {% unless _session.exclude and page.maincalendar %}
      {% assign _sessiondate_int = _session.date | date: '%s' | plus: 0 %}

      {% if _sessiondate_int >= timemin and _sessiondate_int < timemax %}

        {% assign _eventdetails = '' | split: '' %}

        {% capture sessiondateint %}{% if _sessiondate_int %}{{ _session.date | date: '%s' | plus: 0 }}{% else %}{{ _event.date | date: '%s' | plus: 0 }}{% endif %}{% endcapture %}
        {% capture eventtitle %}{% if  _session.title %}{{  _session.title }}{% elsif _event.title %}{{ _event.title }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% capture eventexcerpt %}{% if _session.excerpt %}{{  _session.excerpt }}{% elsif _event.excerpt %}{{ _event.excerpt }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% capture eventtype %}{% if _event.type %}{{ _event.type }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% capture eventprovider %}{% if _event.provider %}{% if _event.hideprovider %}{{ dummyvar }}{% else %}{{ _event.provider }}{% endif %}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% capture eventurl %}{% if _session.url and page.layout == 'event' %}{{  _session.url }}{% elsif _event.url %}{{ _event.url }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% capture eventend_date %}{% if _event.end_date %}{{ _event.end_date }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% capture sessiondate %}{% if _session.date %}{{ _session.date }}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% capture sessiontags %}{% if _session.tags or _event.tags %}{% if _session.tags %}{{ _session.tags }} {%endif%}{% if _event.tags %}{{ _event.tags }}{%endif%}{% else %}{{ dummyvar }}{% endif %}{% endcapture %}
        {% assign sessiontags = sessiontags | split: ' ' %}

        {% if include.filter == "true" %}
        {% assign gettags = gettags | push: _event %}
        {% unless sessiontags=="false" %}{% assign getsessiontags = getsessiontags | push: sessiontags %}{% endunless %}
        {% endif %}

        {% assign _eventdetails = _eventdetails | push: sessiondateint %}
        {% assign _eventdetails = _eventdetails | push: eventtitle %}
        {% assign _eventdetails = _eventdetails | push: eventexcerpt %}
        {% assign _eventdetails = _eventdetails | push: eventtype %}
        {% assign _eventdetails = _eventdetails | push: eventprovider %}
        {% assign _eventdetails = _eventdetails | push: sessiontags %}
        {% assign _eventdetails = _eventdetails | push: eventurl %}
        {% assign _eventdetails = _eventdetails | push: eventend_date %}
        {% if _event.registration %}
          {% assign _eventdetails = _eventdetails | push: _event.registration %}
        {% else %}
          {% assign _eventdetails = _eventdetails | push: dummyvar %}
        {% endif %}
        {% assign _eventdetails = _eventdetails | push: sessiondate %}
        

        {% assign _eventdetails = _eventdetails | push: _session %}
        {% assign myevents = myevents | push: _eventdetails %}
      {% endif %}
      {% endunless %}
  
    {% endfor %}
  {% endfor %}
{% endif %}


{% assign myevents = myevents | sort %}

{% assign pnum = myevents | size %}
{% if pnum == 0 %}
  {% if post_type == 'calendar' %}
    {% include components/collection/collection-noevent.html %}
  {% endif %}
{% else %}

{% if include.filter == "true" %}

{% assign tags = gettags | map: 'tags' %}
{% assign tags = tags | push: getsessiontags | uniq %}
{% assign types = gettags | map: 'type' | uniq %}
{% assign providers = gettags | map: 'provider' | uniq %}
{% assign sort_list = true %}

{% endif %}

{% assign pagetitle = page.title | slugify %}
  
{% assign cal_id = pagetitle | prepend: "cal-" %}

{% if page.layout == "scinet_home" %}
<div class="width-full padding-2">
  <h3 class="site-preview-heading">{{ page.calendar.title }}</h3>
  <ul class="usa-list usa-list--unstyled">
      {% for _event in myevents limit:3 %}
        {% include components/collection/collection-event.html post=_event %}
      {% endfor %}
  </ul>
</div>
<div class="right-button padding-x-2">
  <a class="usa-button margin-x-auto margin-y-2" href=" {{ page.calendar.url | relative_url }}">
      {{ page.calendar.button }}
  </a>
</div>
{% else %}

{% if include.filter == "true" %}
{% include components/cal_filter.html %}
{% endif %}

{% if page.type == 'event' or include.recur-collect %}
  {% if pagetype == "archive" %}
    <h3>{% if page.archive-label %}{{page.archive-label}}{%else%}Past Sessions{%endif%}</h3>
  {% elsif pagetype == "future" %}
    <h3>{% if page.cal-label %}{{page.cal-label}}{%else%}Upcoming Sessions{%endif%}</h3>
  {% endif %}
{% endif %}

<ul class="usa-list usa-list--unstyled">

      {% if flow == 'normal' %}
        {% for _event in myevents %}
          {% include components/collection/collection-event.html post=_event %}
        {% endfor %}
      {% else %}
        {% for _event in myevents reversed %}
          {% include components/collection/collection-event.html post=_event %}
        {% endfor %}
      {% endif %}

  </ul>
  <br>
  {% endif %}
  {% endif %}

