{% assign postdate = _down.date | date: "%A, %B %-d" %}
{% assign postyr = _down.date | date: "%Y" %}
{% if _down.end_date %}
    {% assign post_enddate = _down.end_date | date: "%A, %B %-d" %}
    {% unless post_enddate == postdate %}
    {% assign postdate = postdate | append: ' - ' | append: post_enddate %}

    {% assign postyr = _down.end_date | date: "%Y" %}
    {% endunless %}
{% endif %}

<li class="usa-collection__item width-full maxw-full" >
    <div class="usa-collection__body">
        {% if _down.url %}<a href="{% if  _down.external %}{{  _down.url }}{% else %}{{  _down.url | relative_url }}{% endif %}">{% endif %}
            <h3 class="usa-collection__heading {% unless _down.url %} text-primary-dark{% endunless %}">
                {% if _down.title %}{{ _down.title }}{% else %}
                {% if _down.reason %}
                    {{ _down.reason }} &middot 
                {% endif %}
                {{ _down.systems }} - {{ _down.date | date: "%A, %B %-d"}}
                {% unless post.type == 'archive' %} &middot {{ postyr }}{% endunless %}
                {% endif %}
            </h3>
        {% if _down.url %}</a>{% endif %}
        <p class="usa-collection__description">
            {% if _down.text %}
            {{ _down.text }}
            {% endif %}
        </p>
        <ul class="usa-collection__meta " aria-label="More information">            
            <li class="usa-collection__meta-item">
                <b>{{ postdate }} &middot {{ postyr }}</b>
            </li>
            {% if _down.time %}
            <li class="usa-collection__meta-item">
                <b>Outage time:</b> {{ _down.time }}
            </li>
            {% endif %}
            {% if _down.systems %}
            <li class="usa-collection__meta-item">
                <b>Affected Systems:</b> {{ _down.systems }}
            </li>
            {% endif %}

            {% if _down.locations %}
            <li class="usa-collection__meta-item">
                <b>Affected Locations:</b> {{ _down.locations }}
            </li>
            {% endif %}

            {% if _down.reason %}
            <li class="usa-collection__meta-item">
                <b>Reason:</b> {{ _down.reason }}
            </li>
            {% endif %}
            {% if _down.assets %}
            <li class="usa-collection__meta-item">
                <b>Affected Assets:</b>
                <ul class="">
                    {% for _asset in _down.assets %}
                    <li>{{ _asset.asset }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}


        </ul>
    </div>

</li>