<div class="home-block">
    <ul class="usa-card-group margin-bottom-2 tablet:margin-x-2">
        {% for _option in _navsections %}
        {% capture optionurl %}{% if _option.internal and page.guidegroup.base_links %}{{ site.baseurl }}{{ _option.url }}{% elsif _option.internal or intlinks %}{{ _option.url | relative_url }}{% else %}{{
        _option.url }}{% endif %}{% endcapture %}
        {% assign testurl = optionurl | slice: 0 %}
        {% unless testurl=="#" %}
        <li class="tablet:grid-col-12 margin-y-1">
            <div class="usa-card__container sharp-card">
                {% if _option.url %}<a class="sharp" href="{{ optionurl }}">{% endif %}
                    <div class="heading">
                        <h3 class="margin-0 {% if _option.url %} arrow{% endif %}{% if _option.class %} {{ _option.class }}{% endif %}">{{ _option.title }}</h3>
                    </div>
                {% if _option.url %}</a>{% endif %}
                <div id="{{ _option.title | slugify | append: '-guide' }}">
                <div class="usa-card__body">
                    {% if  _option.feature-img-src %}
                    <div class="grid-row display-flex flex-row flex-align-center">
                    <div class="tablet:grid-col-3 display-flex flex-row flex-align-center">
                      <img class="maxh-card margin-x-auto" src="{{  _option.feature-img-src | relative_url }}" {% if  _option.feature-img-alt %} alt="{{  _option.feature-img-alt }}"{% endif %} />
                    </div>
                    <div class="tablet:grid-col tablet:margin-left-2">
                  {% endif %}
                    {% if _option.excerpt %}
                        {{ _option.excerpt }}
                    {% elsif _option.internal %}
                            {% for _post in all_posts %}
                                {% if _post.url == _option.url %}
                                        {% if _post.excerpt %}{{ _post.excerpt }}
                                        {% endif %}
                                {% else %}
                                    {% assign optionindex = _option.url | append: 'index' %}
                                    {% if _post.url == optionindex %}
                                        {% if _post.excerpt %}{{ _post.excerpt }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                    {% endif %}
                    {% if  _option.feature-img-src %}</div></div>{% endif %}
                    {% if _option.url %}
                    <div class="text-right">
                        <a class="usa-button usa-button--outline margin-y-1" href="{{ optionurl }}">
                            {% if _option.buttontxt %}{{ _option.buttontxt }}{% else %}Read More{% endif %}
                        </a>
                    </div>
                    {% endif %}
                </div>
                {% if show_list or _option.shows_list %}
                <div class="usa-card__footer">
                    {% if _option.shows_list == "subnav" or compiled %}
                        {% assign sectiontitle = "Guide Sections" %}
                        {% if compiled or _option.subnav %}
                            {% assign guide = _option.subnav %}
                        {% else %}
                        {% for _chkguide in all_posts %}
                            {% if _option.url == _chkguide.url %}
                                {% assign guide = _chkguide.subnav %}
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    {% else %}
                        {% assign sectiontitle = "Guide Pages" %}
                        {% assign guide = guidepages | where_exp: "post", "post.categories == _option.categories" %}
                    {% endif %}
                    {% if page.guidegroup.sectiontitle %}
                        {% assign sectiontitle=page.guidegroup.sectiontitle %}
                    {% endif %}
                    {% assign pnum = guide | size %}
                    {% unless pnum == 0 %}
                    {% if _option.sorted %}
                    {% assign guide = guide | sort: 'order_number' %}
                    {% endif %}
                    <div class="border-top-2px margin-3">
                        <h3>{{ sectiontitle }}</h3>
                        <ul class="usa-card-group margin-y-4 maxw-tablet margin-x-auto flex-align-center">
                            {% assign alt_buttons = page.alt_calendar.buttons %}
                            {% for _section in guide %}
                            <li class="tablet:grid-col-12 featured_posts margin-y-1">
                                <a {% if _section.class=="usa-link--external" %}class="ext-nested tablet:grid-col-12"{% endif %} href="{% if _option.shows_list == 'subnav' or compiled %}{{ optionurl | append: _section.url }}{% else %}{{ _section.url | relative_url }}{% endif %}">
                                    <div class="usa-card__container display-flex flex-row padding-2">
                                        <div class="overflow-hidden desktop:grid-col-fill">
                                            <h4 class="margin-0{% if _section.class %} {{ _section.class }}{% else %} arrow{% endif %}">{{ _section.title }}</h4>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endunless %}
                </div>
                {% endif %}
            </div>
            </div>
        </li>
        {% endunless %}
        {% endfor %}
    </ul>
</div>