{% if hero %}
<section class="usa-hero {% if hero.image %}hero-img{% else %}no-hero-img{% endif %}"
  aria-label="Introduction" ;>
  <div class="grid-container {% unless hero.image %} full{% endunless %}">
    <div class="usa-hero__callout">
      {% if hero.callout %}
      {% if hero.callout.image %}
      <div class="grid-row">
        <div class="desktop:grid-col-3 padding-2 hero-graphic">
          {% if hero.callout.url %}
          <a href="{{ hero.callout.url | relative_url }}">
            {% endif %}
            {% include {{ hero.callout.image.src | prepend: 'svg' }} %}
            {% if hero.callout.url %}
          </a>
          {% endif %}
        </div>
        <div class="desktop:grid-col-9">
      {% endif %}
          <h1 class="usa-hero__heading">
            {% if hero.callout.alt %}
            <span class="usa-hero__heading--alt">{{ hero.callout.alt }}</span>
            <h3 class="text-primary-light">
              {% endif %}
              {{ hero.callout.text | default: hero.callout }}
              {% if hero.callout.alt %}
            </h3>
            {% endif %}
          </h1>
          {% endif %}

          {{ hero.content | markdownify }}

          {% if hero.button %}
          <a class="usa-button" href="{% if hero.button.external %}{{ hero.button.url }}{% else %}{{ hero.button.url | relative_url }}{% endif %}">
            {{ hero.button.text }}
          </a>
          {% endif %}
          {% if hero.buttons %}
          <ul class="usa-button-group">
          {% for _button in hero.buttons %}
          <li class="usa-button-group__item">
            <a class="usa-button{% if _button.color %} usa-button--{{ _button.color }}{% endif %}" href="{% if _button.external %}{{ _button.url }}{% else %}{{ _button.url | relative_url }}{% endif %}">
              {{ _button.text }}
            </a>
          </li>
          {% endfor %}
          </ul>
          {% endif %}

      {% if hero.callout.img %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}
