{% for link in include.links %}
{% if page.guidegroup.all and page.guidegroup.compile %}
{% assign mylink = link.categories | join: ',' | append: " Guides" | slugify %}
<li>
  <a href="{{ mylink | prepend: '#' }}">{{ link.categories }}</a>
</li>
{% else %}
{% if link.layout %}
<li>
  <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
</li>
{% elsif link.subnav %}
<li>
  <a href="{% if link.internal %}{{ link.url | slugify | prepend: '#' }}{% else %}{{ link.url }}{% endif %}" {% if link.class
    %}class="{{ link.class }}" {% endif %}>
    {{ link.title }}
  </a>
  <ul class="usa-sidenav__sublist">
    {% include components/subnav.html links=link.subnav %}
  </ul>
</li>
{% else %}
<li>
  <a href="{% if link.internal %}{{ link.title | slugify | prepend: '#' }}{% else %}{{ link.url }}{% endif %}" {% if link.class %}
    class="{{ link.class }}" {% endif %}>{{ link.title }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}