{% for link in include.links %}

{% if link.title %}
  {% assign mytitle = link.title %}
{% endif %}
{% if link.class %}
  {% assign myclass = link.class %}
{% else %}
  {% assign myclass = "" %}
{% endif %}
{% if link.url %}
  {% capture mylink %}
    {% if link.internal or link.layout %}{{ link.url | relative_url }}{% else %}{{ link.url }}{% endif %}
  {% endcapture %}
{% else %}
{% capture mylink %}#{{ link.title | slugify | downcase }}{% endcapture %}
{% endif %}

{% if page.guidegroup or page.fetch_subnav %}
  {% unless page.manual_subnav %}

  {% if page.guidegroup.all and page.guidegroup.compile %}
    {% assign mytitle = link.short_title | default: link.categories %}
    {% assign mylink = mytitle | join: ',' | append: " Guides" | slugify %}
    {% assign mylink = mylink | prepend: '#' %}
    {% assign myclass = "" %}

  {% elsif page.guidegroup and link.internal %}
      {% assign mylink = link.title | slugify %}
      {% assign mylink = mylink | prepend: '#' %}

  {% endif %}

  {% assign nobreakdown = "true" %}
  {% endunless %}

{% elsif link.layout %}
  {% assign mylink = link.url | relative_url %}
{% endif %}


<li>
  <a href="{{ mylink }}" class="{{ myclass }}">{{ mytitle }}</a>
  {% unless nobreakdown %}
  {% if link.subnav %}
  <ul class="usa-sidenav__sublist">
    {% include components/subnav.html links=link.subnav %}
  </ul>
  {% endif %}
  {% endunless %}
</li>

{% endfor %}