---
main: foo, bar, qaz
scripts: /assets/js/external.js
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

<head>
  {% include layout/meta.html %}
  {% include layout/styles.html %}
  {% if site.google_analytics_ua or site.dap_agency %}
  {% include layout/analytics.html %}
  {% endif %}
  <script>0</script>
</head>

<body class="{% if site.site_width %}site-{{ site.site_width }}{% endif %}">

  {% include layout/skipnav.html %}
  {% include layout/header.html %}

  {% if page.layout == 'scinet_home' or  page.layout == 'workshop' %}
  <main id="main-content" {% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}" {% endfor %}>
    {% endif %}

    {% assign hero = page.hero %}
    {% include layout/hero.html %}

    {% if page.alerts %}
    <div class="padding-bottom-2" aria-label="Alerts">
      <section class="sci-container">
      {% for _alert in page.alerts %}
      {% include components/alert.html alert=_alert %}
      {% endfor %}
      </section>
    </div>
    {% endif %}
    
    {% if page.tagline and page.intro %}
    <section class="grid-container usa-section">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-4">
          <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">{{ page.tagline }}</h2>
        </div>
        <div class="tablet:grid-col-8 usa-prose">
          {{ page.intro | markdownify }}
        </div>
      </div>
    </section>
    {% endif %}

    {% capture _graphics %}
    {% include graphic-list.html graphics=page.graphics %}
    {% endcapture %}

    {% if page.graphics_position != 'after' %}
    {{ _graphics }}
    {% endif %}


    {{ content }}
    <br>

    {% if page.graphics_position == 'after' %}
    {{ _graphics }}
    {% endif %}

  {% if page.layout == 'scinet_home' or  page.layout == 'workshop' %}
  </main>
  {% endif %}

  {% include layout/footer.html %}

  {% include layout/scripts.html %}

</body>

</html>
