---
layout: page
title: Downtime
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---

{{content}}


{% assign sitedate = site.time | date: "%s" %}

{% assign sitetime = sitedate | minus: 86400 %}

{% assign sitetime = sitetime | date_to_xmlschema %}


{% assign all_downtime = site.downtime %}

{% assign downtime = '' | split: '' %}

{% if page.type == "future" %}
{% for _down in all_downtime %}
  {% assign datetime = _down.date | date_to_xmlschema %}
  {% if _down.end_date %}{% assign enddate = _down.end_date | date_to_xmlschema %}{% else %}{% assign enddate = datetime %}{% endif %}
  {% if datetime >= sitetime or enddate >= sitetime %}
  {% assign downtime = downtime | push: _down %}
  {% endif %}
{% endfor %}

{% if page.show_table %}

<div class="usa-table-container--scrollable" tabindex="0">
<table class="usa-table usa-table--striped">
    <caption>
        {{ table_title | default: "SCINet Outages" }}
    </caption>
    <thead>
        <tr>
            <th data-sortable scope="col" role="columnheader">Date</th>
            <th scope="col" role="columnheader">Time</th>
            <th data-sortable scope="col" role="columnheader">System</th>
            <th data-sortable scope="col" role="columnheader">Affected Locations</th>
            <th data-sortable scope="col" role="columnheader">Reason</th>
        </tr>

    </thead>
    {% for _down in downtime %}
    {% assign postdate = _down.date | date: "%m/%d/%Y" %}
    {% if _down.end_date %}
      {% assign post_enddate = _down.end_date | date: "%m/%d/%Y" %}
        {% assign postdate = postdate | append: ' - ' | append: post_enddate %}
    {% endif %}
    {% assign post_date_val = _down.date | date: "%Y%m%d" | plus: 0 %}
    <tr>
        <td scope="row" data-sort-value="{{ post_date_val }}">{{ postdate }}</td>
        <td>{{ _down.time }}</td>
        <td data-sort-value="{{ _down.systems }}">{{ _down.systems }}</td>
        <td data-sort-value="{{ _down.locations }}">{{ _down.locations }}</td>
        <td>{{ _down.reason }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% if downtime.size > 0 %}
<div class="">
  <a class="usa-button tablet:margin-2" href="{{ page.calendar-link }}">
      Add to your calendar <svg class="usa-icon inline-svg" aria-hidden="true" focusable="false" role="img">
        <use xlink:href="/assets/uswds/img/sprite.svg#file_download"></use></svg>
  </a>
</div>
{% endif %}


<br>

<h5>Further detail for each outage is posted in the announcements below if availible.</h5>
{% endif %}

{% for _down in downtime %}
  {% include components/collection-downtime.html post=_down %}
{% endfor %}

{% else %}

{% for _down in all_downtime reversed %}
  {% include components/collection-downtime.html post=_down %}
  {% endfor %}
{% endif %}
