---
layout: page
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---

<div class="section">
  {% if page.provider %}
  {% assign _provider = site.data.tables.providers.providers | where:"tag", page.provider | first %}
  <b>Provided by:</b> 
  {% if _provider.size > 0 %}
  <a href="{% if _provider.external %}{{ _provider.url }}{% else %}{{ _provider.url | relative_url }}{% endif %}">{% if _provider.title %}{{ _provider.title }}{% else %}{{ page.provider }}{% endif %}</a>
  {% else %}
  {{ page.provider }}
  {% endif %}
  {% endif %}

  {{ content }}

  {%- if page.materials %}
    {% include collect/components/materials data=page.materials %}
  {%- endif %}

  {%- if page.course-list %}
  {% include collect/components/course-list %}

  {% else %}

  {%- if page.type == 'event' or page.type == 'training' or page.display == 'basic' %}
  <br>
    {% assign my_events = '' | split: '' %}
    {% assign my_events = my_events | push: page %}

    
      {% include collect/components/calendar myevents=my_events pagetype="future" %}
      {% include collect/components/calendar myevents=my_events pagetype="archive" %}


  {%- elsif page.type == 'workshop' %}
  {%- if page.categories %}
    {% assign featured_cal = site.workshops | where: 'future', 'show' %}
    {% assign filtered_posts = featured_cal | where_exp: "post", "post.categories == page.categories" %}
    {%- if filtered_posts.size > 0 %}
    <section aria-label="{{ page.calendar.title | default: 'Workshop Sessions' }}">

        <div class="grid-row grid-gap">
          <div class="width-full">
              <h2 class="site-preview-heading">{{ page.calendar.title | default: 'Workshop Sessions' }}</h2>
              {% if page.calendar.text %}
              <div class="{% if page.calendar.text-href %} featured_posts{% endif %}">
                  {% if page.calendar.text-href %}
                  <a
                      href="{% if page.calendar.text-href-external %}{{ page.calendar.text-href }}{% else %}{{ page.calendar.text-href | relative_url }}{% endif %}">
                      {% endif %}
                      <div class="usa-card__container padding-2">
                          {{ page.calendar.text }}
                      </div>
                      {% if page.calendar.text-href %}
                  </a>
                  {% endif %}
              </div>
              {% endif %}
              <ul class="usa-list usa-list--unstyled">
                  {% for post in filtered_posts %}
                  {% assign post_type = 'calendar' %}
                  {% include components/collection.html %}
                  {% endfor %}
              </ul>
          </div>
        </div>
      </section>
    {%- endif %}

  {%- else %}
    {% assign my_events = '' | split: '' %}
    {% assign my_events = my_events | push: page %}
    
    {% include collect/components/calendar myevents=my_events %}
    
  {%- endif %}
  {%- endif %}
  {%- endif %}
</div>