---
layout: page
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---

<div class="section">

  {{ content }}

  {% if page.type == 'event' or page.type == 'training' %}
  <br>
    {% assign my_events = '' | split: '' %}
    {% assign my_events = my_events | push: page %}

    
    {% if page.recurring %}
      {% include components/collection-event.html comp_events=my_events eventpage="true" pagetype="future" %}
      {% include components/collection-event.html comp_events=my_events eventpage="true" pagetype="archive" %}
    {% else %}
      {% include components/collection-event.html simple_events=my_events eventpage="true" %}
    {% endif %}
  {% endif %}

</div>