---
layout: page
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---

<div class="section">
  {% if page.provider %}
  {% assign _provider = site.data.tables.providers.providers | where:"tag", page.provider | first %}
  <b>Provided by:</b> 
  {% if _provider.size > 0 %}
  <a href="{% if _provider.external %}{{ _provider.url }}{% else %}{{ _provider.url | relative_url }}{% endif %}">{% if _provider.title %}{{ _provider.title }}{% else %}{{ page.provider }}{% endif %}</a>
  {% else %}
  {{ page.provider }}
  {% endif %}
  {% endif %}

  {{ content }}


  {% if page.type == 'event' or page.type == 'training' %}
  <br>
    {% assign my_events = '' | split: '' %}
    {% assign my_events = my_events | push: page %}

    
    {% if page.recurring %}
      {% include components/collection-event.html comp_events=my_events eventpage="true" pagetype="future" %}
      {% include components/collection-event.html comp_events=my_events eventpage="true" pagetype="archive" %}
    {% else %}
      {% include components/collection-event.html simple_events=my_events eventpage="true" %}
    {% endif %}
  {% endif %}

</div>