---
layout: nav
main:
class: usa-layout-docs usa-layout-docs__main usa-prose
---

{% assign allguides = site.guides | sort: 'order_number' %}
{% assign allsections = site.guidesection %}

<section class="padding-y-4">
    {{ content }}
    <div class="home-block">
        <ul class="usa-card-group margin-bottom-2 tablet:margin-x-2">
            {% if page.guidegroup.all %}
            {% for _option in allguides %}
            <li class="tablet:grid-col-12 margin-y-1">
                <div class="usa-card__container">
                    <div class="usa-card__heading padding-2 bg-primary-lighter">
                        <a href="{{ _option.url | relative_url }}">
                            <h3 class="arrow margin-0">{{ _option.title }}</h3>
                        </a>
                    </div>
                    <div class="usa-card__body">
                        <p class=" padding-x-2">
                            {% if _option.excerpt %}{{ _option.excerpt }}
                            {% else %}
                            {{ _option }}
                            {% endif %}
                        </p>
                        <div class="text-right">
                            <a class="usa-button usa-button--outline margin-y-1"
                                href="{{ _option.url | relative_url }}">
                                Read More
                            </a>
                        </div>
                    </div>
                    <div class="usa-card__footer">
                        {% assign guide = allsections | where_exp: "post", "post.categories == _option.categories" %}
                        {% assign pnum = guide | size %}
                        {% unless pnum == 0 %}
                        {% if _option.sorted %}
                        {% assign guide = guide | sort: 'order_number' %}
                        {% endif %}
                        <div class="border-top-2px margin-3">
                            <h3>Guide Sections</h3>
                            <ul class="usa-card-group margin-y-4 maxw-tablet margin-x-auto flex-align-center">
                                {% assign alt_buttons = page.alt_calendar.buttons %}
                                {% for _section in guide %}
                                <li class="tablet:grid-col-12 featured_posts margin-y-1">
                                    <a href="{{ _section.url | relative_url }}">
                                        <div class="usa-card__container display-flex flex-row padding-2">
                                            <div class="overflow-hidden desktop:grid-col-fill">
                                                <h4 class="arrow margin-0">{{ _section.title }}</h4>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endunless %}
                    </div>
                </div>
            </li>
            {% endfor %}
            {% elsif page.guidegroup.subnav %}

            {% assign all_posts = allguides | concat: allsections %}

            {% for _listing in page.subnav %}
            <li class="tablet:grid-col-12 margin-y-1">
                <div class="usa-card__container">
                    <div class="usa-card__heading padding-2 bg-primary-lighter">
                        <a
                            href="{% if _listing.internal %}{{ _listing.url | relative_url }}{% else %}{{ _listing.url }}{% endif %}">
                            <h3 class="arrow margin-0">{{ _listing.title }}</h3>
                        </a>
                    </div>
                    <div class="usa-card__body">
                        {% for _option in all_posts %}
                        {% if _option.url == _listing.url %}
                        <p class=" padding-x-2">
                            {% if _option.excerpt %}{{ _option.excerpt }}
                            {% endif %}
                        </p>
                        {% endif %}
                        {% endfor %}
                        <div class="text-right">
                            <a class="usa-button usa-button--outline margin-y-1"
                                href="{{ _listing.url | relative_url }}">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}


            {% else %}
            {% assign _sections = allsections | where_exp: "post", "post.categories == page.categories" %}
            {% if page.sorted %}
            {% assign _sections = _sections | sort: 'order_number' %}
            {% endif %}
            {% assign pnum = _sections | size %}
            {% unless pnum == 0 %}
            {% for _option in _sections %}

            <li class="tablet:grid-col-12 margin-y-1">
                <div class="usa-card__container">
                    <div class="usa-card__heading padding-2 bg-primary-lighter">
                        <a href="{{ _option.url | relative_url }}">
                            <h3 class="arrow margin-0">{{ _option.title }}</h3>
                        </a>
                    </div>
                    <div class="usa-card__body">
                        <p class=" padding-x-2">
                            {% if _option.excerpt %}{{ _option.excerpt | truncatewords:25 }}
                            {% endif %}
                        </p>
                        <div class="text-right">
                            <a class="usa-button usa-button--outline margin-y-1"
                                href="{{ _option.url | relative_url }}">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% endunless %}

            {% endif %}
        </ul>
    </div>
</section>