---
layout: default
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 

---
{% assign blankarray = "" | split: "" %}
{% assign bc_sidenav = blankarray %}

<div class="grid-container main-side">

{% if page.sidenav_basic %}  
  {% assign sidenav = page.sidenav_basic %}
  {% assign bc_sidenav = sidenav %}
  {% if page.alt_nav %}
  {% assign alt_nav = page.alt_nav %}
  {% else %}
  {% assign firstnav = sidenav | first %}
  {% assign alt_nav = firstnav.title %}
  {% endif %}
{% else %}
  {% if page.sidenav_link %}
    {% assign pagelink = page.sidenav_link %}
  {% else %}
    {% assign pagelink = page.permalink %}
  {% endif %}
  {% if page.alt_nav %}
  {% assign alt_nav = page.alt_nav %}
  {% else %}
  {% assign alt_nav = false %}
  {% endif %}


  {% if page.layout_type == 'workshop' %}
    {% if page.parent %}
    
    {% assign bc_sectionlink = page.parent %}
    {% if page.parent.class %}
    {% assign bc_sidenav = bc_sidenav | push: page.parent %}
    {% else %}
    {% include collect/process/hashed title=page.parent.title url=page.parent.url class="guide-nav" %}
    {% assign bc_sidenav = bc_sidenav | push: hashed %}
    {% endif %}

    {% assign alt_nav = page.parent.title %}

    {% if page.has-sessions %}

    {% assign allevents = site.events | where: 'future', 'show' %}
    {% assign allworkshops = site.workshops | where: 'future', 'show' %}
    {% assign all_posts = allevents | concat: allworkshops %}

    {% assign myset = all_posts | where_exp: "post", "post.categories == page.categories" %}

    
    {% assign bc_sidenav = bc_sidenav | concat: myset %}
    
    {% elsif page.categories != empty %}

    {% assign mixedevents = site.events | concat: site.events-recurring %}
    {% assign sorter = mixedevents | find_exp: "post", "post.url == page.parent.url" %}
    {% assign myset = site.workshops | where_exp: "post", "post.categories == page.categories" %}

    {% if sorter.course-list %}
    {% for _course in sorter.course-list %}
    {% assign fetch = myset | find_exp: "item", "item.title == _course.title" %}
    {% assign bc_sidenav = bc_sidenav | push: fetch %}
    {% endfor %}
    {% else %}
    {% assign bc_sidenav = bc_sidenav | concat: myset %}
    {% endif %}
    {% else %}
    {% assign bc_sidenav = bc_sidenav | push: page %}
    {% endif %}

    {% else %}


    {% assign alt_nav = "Workshop" %}

    {% assign allevents = site.events | where: 'future', 'show' %}
    {% assign allworkshops = site.workshops | where: 'future', 'show' %}
    {% assign all_posts = allevents | concat: allworkshops %}

    {% assign myset = all_posts | where_exp: "post", "post.categories == page.categories" %}

    {% assign bc_sidenav = myset %}

  {% endif %}
  
  {% else %}
    {% assign header = site.data.header %}
    {% assign _primary = header.primary.links %}
      {% assign primary_links = site.data.navigation[_primary] | default: _primary %}
      {% if primary_links %}
        {% for _section in primary_links %}
          {% unless _section.url == pagelink %} 
            {% if _section.links %}
                {% assign section_links = site.data.navigation[_section.links] | default: _section.links %}
                {% for _link in section_links %}
                    {% if _link.url == pagelink %} 
                        {% assign bc_section = _section %}
                        {% assign bc_sidenav = section_links %}
                        {% if page.sidenav_link %}
                          {% assign bc_base = _link %}
                        {% endif %}
                    {% else %}
                        {% if _section.sublinks %}
                        {% assign link_sublinks = site.data.navigation[_link.sublinks] | default: _link.sublinks %}
                          {% for _sublink in link_sublinks %}
                            {% if _sublink.url == pagelink %} 
                                {% assign bc_section = _section %}
                                {% if _section.link %}
                                  {% assign show_bc_section = _section %}
                                {% endif %}
                                {% assign bc_sectionlink = _link %}
                                {% assign bc_sidenav = link_sublinks %}
                                {% if page.sidenav_link %}
                                  {% assign bc_base = _sublink %}
                                {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
          {% endunless %}
        {% endfor %}
      {% endif %}

      {% if page.layout == "event" %}
      {% assign bc_sidenav = bc_sidenav | push: page %}
      {% endif %}
  {% endif %}

  {% if page.layout_type == 'guides' %}

    {% assign alt_nav = page.categories | default: 'guides' %}

    {% if page.categories != empty %}
    
    {% assign guidecategories = site.guides | where: "sorting", "index" %}
    {% assign guidepages = site.guides | where: "sorting", "guide" %}

    {% if page.sorted or page.order_number %}
      {% assign guidepages = guidepages | sort: 'order_number' %}
    {% endif %}

    {% assign all_posts = guidecategories | concat: guidepages %}

    {% assign breadcrumb_set = all_posts | where_exp: "post", "post.categories == page.categories" %}

    {% if bc_sidenav %}
      {% assign bc_sidenav = bc_sidenav | concat: breadcrumb_set %}
    {% else %}
      {% assign bc_sidenav = breadcrumb_set %}
    {% endif %}

    {% elsif page.parent %}
      {% assign bc_sectionlink = page.parent %}
      {% assign alt_nav = page.parent.title %}
      
      {% assign bc_sidenav = bc_sidenav | push: page.parent | push: page %}
    {% elsif page.parents %}

      {% assign breadcrumb_set = page.parents | push: page %}
      {% if bc_sidenav %}
        {% assign bc_sidenav = bc_sidenav | concat: breadcrumb_set %}
      {% else %}
        {% assign bc_sidenav = breadcrumb_set %}
      {% endif %}

      {% assign alt_nav = page.parents[0].title %}
    

    {% endif %}

  {% endif %}

{% if page.sidenav_other %}
    {% assign sidenav = site.data.navigation[page.sidenav_other] | default: sidenav %}
{% else %}
    {% assign sidenav = bc_sidenav %}
{% endif %}

{% endif %}

{% if page.sidenav_append %}
  {% assign sidenav = sidenav | concat: page.sidenav_append %}
{% endif %}




<div class="grid-row grid-gap flex-align-start">
    <div class="usa-layout-docs__sidenav desktop:grid-col-3 desktop:padding-y-10{% unless page.sidenav %} usa-sticky-sidenav{% endunless %}">
        {% include layout/sidenav.html links=sidenav %}
    </div>
    
    <div class="usa-layout-docs__main desktop:grid-col-9{% if page.nobreadcrumb %} padding-top-8{% endif %}">
        {% unless page.nobreadcrumb %}{% include layout/breadcrumb.html %}{% endunless %}
        <main class="{{ layout.main.class }}" id="main-content">

        {{ content }}

        <br>
    </main>
  </div>
</div>
</div>

