---
layout: nav
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---

<main class="{{ layout.main.class }}" id="main-content">
  {% unless page.hide-title %}
  {% if page.title %}
      <h1 class="top-header">{{ page.title }}</h1>
  {% endif %}
  {% endunless %}

  {% if page.summarybox %}
    {% include components/summary.html summary=page.summarybox %}
  {% endif %}

  {% if page.table and page.table.position=="front" %}
  {% include table.html table=page.table %}
  {% endif %}

  {{ content }}

  {% if page.table and page.table.position=="back" %}
  {% include table.html table=page.table %}
  {% endif %}

  <br>
</main>
