---
layout: nav
main:
  class: usa-layout-docs usa-layout-docs__main usa-prose 
---


  {% unless page.hide-title %}
  {% if page.title %}
      <h1 class="top-header">{{ page.title }}</h1>
  {% endif %}
  {% endunless %}

  {% if page.summarybox %}
    {% include components/summary.html summary=page.summarybox %}
  {% endif %}

  {% if page.table and page.table.position=="front" %}
  {% include table.html table=page.table %}
  {% endif %}
  <div class="page-contents">
  {{ content }}
  </div>

  {% if page.table and page.table.position=="back" %}
  {% include table.html table=page.table %}
  {% endif %}

  {% if page.display-graphics %}
  {% assign _graphics = site.data.display[page.display-graphics] %}
  <ul class="usa-card-group margin-bottom-2">
    {% for _graphic in _graphics %}
  {% include components/details-card.html option=_graphic %}
  {% endfor %}
  </ul>
  {% endif %}

  <br>

  {% if page.collects %}
  <div>
    {% for _collect in page.collects %}
      {% include categories.html collect=_collect %}
    {% endfor %}
  </div>
  {% endif %}
  {% if page.collect %}
  <div>
  {% include categories.html %}
  </div>
  {% endif %}

  {% if page.collecting %}
  
  {% include collect/merge %}
  <ul class="usa-list usa-list--unstyled">
    
  {% for _post in merge reversed %}
    {% include collection.html post=_post.post %}
  {% endfor %}
  </ul>

  {% endif %}
