---
layout: default
css: newsletter.css
---
<div class="grid-container main-side">
{% capture mycontent %}{{ content }}{% endcapture %}
{% include layout/newsletter/nav %}
{% include layout/newsletter/emailcontent mycontent=mycontent %}

<div class="grid-row grid-gap flex-align-start">
    <div class="usa-layout-docs__sidenav desktop:grid-col-3 desktop:padding-y-10{% unless page.sidenav %} usa-sticky-sidenav{% endunless %}">
        {% include layout/sidenav.html links=sidenav subnav=subnav %}
    </div>
    
    <div class="usa-layout-docs__main desktop:grid-col-9">
        {% include layout/breadcrumb.html %}
        <main class="usa-layout-docs usa-layout-docs__main usa-prose" id="main-content">
            {% if page.title %}
            <h1 class="top-header">{{ page.title }}</h1>
            {% endif %}
            <div class="page-contents">
            {{ content }}
            </div>

<!--
<table style="max-width:600px;margin:0 auto; box-sizing: border-box; border-collapse: collapse; border-spacing: 0px;" cellpadding=0 >
<tbody>
<tr>
<td style="max-width:600px;margin:0 auto;">
<div style="text-align: center; font-family: Helvetica, sans-serif; font-size: 12pt; color: rgb(0, 0, 0); width:600px;margin:0 auto;" class="elementToProof">
  <img src="https://scinet.usda.gov/assets/img/news/newsletters/newsletter-header_original.jpg" style="max-width: 100%;" alt="SCINet header narrow">
</div>
<div style="padding: 20px 10px;text-align: center; font-family: Helvetica, sans-serif; line-height: 140%; font-weight: bold; font-family: helvetica; font-size: 26px; color: rgb(0, 0, 0); width:600px;margin:0 auto;" class="elementToProof">
  <strong>SCINet Newsletter: January 2025</strong>
</div>
{{ printnav }}

{{ emailcontent }}

<div style="text-align: center; font-family: Helvetica, sans-serif; font-size: 18px; width:600px;margin:0 auto;" class="elementToProof">
    <p style="font-family: helvetica; font-size: 18px; text-align: center; margin: 20px">
        <a href="https://scinet.usda.gov" style="color: #006600; text-decoration:none;"><strong>SCINet Site</strong></a>
    </p>
</div>
</td>
</tr>
</tbody>
</table>
-->


<br>
</main>
</div>
</div>
</div>
