---
layout: default
css: newsletter.css
---
{%- unless currentnewsletter %}
{%- assign currentnewsletter = site.newsletter.last.title %}
{%- endunless %}
<div class="grid-container main-side">
{% capture mycontent %}{{ content }}{% endcapture %}
{% include layout/newsletter/nav %}
{% if page.title==currentnewsletter %}
{% include layout/newsletter/emailcontent mycontent=mycontent %}
{% endif %}

<div class="grid-row grid-gap flex-align-start">
    <div class="usa-layout-docs__sidenav desktop:grid-col-3 desktop:padding-y-10{% unless page.sidenav %} usa-sticky-sidenav{% endunless %}">
        {% include layout/sidenav.html links=sidenav subnav=subnav %}
    </div>
    
    <div class="usa-layout-docs__main desktop:grid-col-9">
        {% include layout/breadcrumb.html %}
        <main class="usa-layout-docs usa-layout-docs__main usa-prose" id="main-content">
            {% if page.title %}
            <h1 class="top-header">{{ page.title }}</h1>
            {% endif %}
            <div class="page-contents">
            {{ content }}
            </div>

{% if page.title==currentnewsletter %}
<!--
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{{ page.title }}</title>
        <meta content="text/html; charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <style type="text/css">
            {% include layout/newsletter/email.css %}
        </style>

</head>
<body style="line-height:140%;margin:0;padding:0;width:100% !important;">

<a name="nl_top" id="nl_top"></a>


 
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="nl_tbl_wrap"><tbody><tr><td style="background-color: #FFFFFF; margin: 0; padding: 0; width: 100% !important" bgcolor="#FFFFFF"><table class="main-table" width="100%" align="center" cellpadding="0" cellspacing="0" id="yahoo" style="border-collapse: collapse;">
<tbody><tr>
<td width="100%" style="padding: 0 0 20px;" class="mobile-padding">


<table class="main-table" width="600" align="center" cellpadding="0" cellspacing="0" style="width:600px;">
<tr>
<td>

<div style="max-width: 600px; width: 100%; margin: 0 auto;">

<table width="100%" align="center" style="border-collapse: collapse;" cellpadding="0" cellspacing="0">

<tbody>
<tr>
<td>
<table class="main-table" width="100%" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="background-color: #FFF; border-collapse: collapse;">

<tbody><tr>
<td id="main-header" width="100%" data-newsletterstyle="all" data-newslettertitle="Main Header" style="background-color: #000000; padding: 0px 0px 1px; border: none;" bgcolor="#000000">
<img class="newsletter_template_image" src="https://scinet.usda.gov/assets/img/news/newsletters/newsletter-header_original.jpg" style="width: 600px; height: auto !important; max-height: auto !important; border: none;" alt="SCINet header narrow" width="600" height="79">
</td>
</tr>

<tr>
<td id="main-date" width="100%" data-newsletterstyle="all" data-newslettertitle="Main Title" class="thin" style="padding: 20px 2px 9px 10px; border: none;">
<h1 class="nl_p" style="text-align: center; line-height: 140%; font-weight: bold; font-family: helvetica; font-size: 26px; color: #070708; margin: 0;" align="center">{{ page.title }}</h1>
</td>
</tr>

<tr>
{{ printnav }}
</tr>

<tr>
    <td id="main-body" width="100%" style="padding: 4px 20px 0px 15px;">
{{ emailcontent }}
    </td>
</tr>

<tr>
<td style="text-align: center; font-family: Helvetica, sans-serif; font-size: 18px; width:600px;margin:20;">
    <p align="center" style="font-family: Helvetica, sans-serif; font-size: 10pt; color: rgb(0, 0, 0); margin-top: 15px; margin-bottom: 15pt; line-height: 130%">
        Note: This newsletter is edited to comply with ARS editorial standards.
    </p>
    <p style="font-family: helvetica; font-size: 18px; text-align: center; margin: 20px">
        <a href="https://scinet.usda.gov" style="color: #006600; text-decoration:none; -ms-word-break: break-all; word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none;"><strong>SCINet Site</strong></a>
    </p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>
-->
{% endif %}

<br>
</main>
</div>
</div>
</div>
