---
layout: default
main:
class:
---

<div class="grid-row sci-container" aria-label="Getting Started and Event Calendar">

    <div class="grid-row width-full">

        <div class="desktop:grid-col-auto flex-sci-card" aria-label="Getting Started">
            {% include layout/components/sci-card.html highlight = page.intro %}
        </div>
        <div class="desktop:grid-col-fill" aria-label="Calendar">
            <div class="home-block">
                {% assign post_type = 'calendar' %}
                {% assign pagetype = 'future' %}
                {% include collect/components/calendar post_type=post_type %}
            </div>
        </div>
    </div>
</div>
<div class="grid-row usa-section--dark margin-bottom-4" aria-label="Forum">
    <div class="sci-container  grid-container margin-y-2 text-center">
        <a class="usa-button usa-button--big usa-button--outline usa-button--inverse width-full"
            href=" {{ page.forum.url }}">
            {{ page.forum.title }}
        </a>
    </div>
</div>
<div class="grid-row bg-primary-lighter" aria-label="News">
    <div class="grid-container sci-container" aria-label="Featured Stories">

        {% if page.featured %}
        {% assign featured_main = site.posts | where: 'featured', 'home' %}
        <section class="padding-y-4">
            <h2 class="top-header">{{ page.featured.title }}</h2>
            <div class="home-block">
                <ul class="usa-card-group">

                    {% for post in featured_main limit:3 %}

                    {% include feature.html %}

                    {% endfor %}

                </ul>
                <div class="right-button">
                    <a class="usa-button" href="{{ page.featured.button-href | relative_url }}">
                        {{ page.featured.button-text }}
                    </a>
                </div>
            </div>
        </section>
        {% endif %}
    </div>
</div>

{% if page.support %}
<div class="grid-row" aria-label="Support and Research">
    <div class="grid-container sci-container">
        <section class="padding-y-4">
            <h2>{{ page.support.title }}</h2>
            <div class="home-block">
                <ul class="usa-card-group margin-bottom-2">
                    {% for _option in page.support.options %}

                    {% include components/details-card.html option=_option %}

                    {% endfor %}
                </ul>
                <div class="right-button">
                    <a class="usa-button" href="{{ page.support.url | relative_url }}">
                        {{ page.support.button }}
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
{% endif %}

<div class="grid-row usa-section--dark" aria-label="Use Cases">
    <div class="grid-container sci-container">
        <section class="padding-y-4">
            <h2>{{ page.usecases.title }}</h2>
            <div class="home-block {% if page.icons %} graphic-links {% endif %} grid-container">{% assign _graphics = site.data.display[page.usecases.icons] %}
                {% include graphic-links.html graphics=_graphics %}
            </div>
        </section>
        <!--SCINet funded Research fellowship opportunities-->
    </div>
</div>
<div class="grid-row sci-container">
    <!--Support-->
</div>
<div class="grid-row">
    <div class="tablet:grid-col">
        {{ content }}
    </div>
</div>