---
layout: default
main:
class:
---

{% if page.notice %}
<div class="grid-row sci-container" aria-label="{{ page.notice.header }}">
    <div class="grid-container">
        <div class="padding-2">
            {% include components/summary.html summary = page.notice %}
        </div>
    </div>
</div>
{% endif %}
<div class="grid-row sci-container alt-sci-card" aria-label="Getting Started">
    {% include layout/components/sci-card.html highlight = page.intro %}
</div>
<div class="grid-row sci-container padding-bottom-4" aria-label="Workshop Itinerary">

    <div class="grid-container">
        <div class="grid-row grid-gap">

        {% assign featured_cal = site.workshops | where: 'future', 'show' %}
        {% assign filtered_posts = featured_cal | where_exp: "post", "post.categories == page.categories and post.type == 'workshop' " %}


        <div class="width-full margin-4">
            <h1 class="site-preview-heading">{{ page.calendar.title }}</h1>
            {% if page.calendar.text %}
            <div class="{% if page.calendar.text-href %} featured_posts{% endif %}">
                {% if page.calendar.text-href %}
                <a
                    href="{% if page.calendar.text-href-external %}{{ page.calendar.text-href }}{% else %}{{ page.calendar.text-href | relative_url }}{% endif %}">
                    {% endif %}
                    <div class="usa-card__container padding-2">
                        {{ page.calendar.text }}
                    </div>
                    {% if page.calendar.text-href %}
                </a>
                {% endif %}
            </div>
            {% endif %}
            <ul class="usa-list usa-list--unstyled">
                {% for post in filtered_posts %}
                {% assign post_type = 'calendar' %}
                {% include components/collection.html %}
                {% endfor %}
            </ul>
        </div>
        <a class="usa-button margin-x-auto margin-y-2" href=" {{ page.calendar.url | relative_url }}">
            {{ page.calendar.button }}
        </a>
    </div>
    </div>
</div>
{% if page.featured %}
<div class="grid-row bg-primary-lighter margin-y-4 padding-2" aria-label="News">
    <div class="grid-container sci-container" aria-label="Featured Stories">
        {% assign featured_main = site.posts | where: 'featured', 'home' %}
        <div class="">
            <h2>{{ page.featured.title }}</h2>
            <ul class="usa-card-group">

                {% for post in featured_main limit:3 %}

                {% include feature.html %}

                {% endfor %}

            </ul>
            <a class="usa-button" href="{{ page.featured.button-href | relative_url }}">
                {{ page.featured.button-text }}
            </a>
        </div>
    </div>
</div>
{% endif %}
{% if page.opportunities %}
<div class="grid-row margin-y-4 padding-2" aria-label="Research">
    <div class="grid-container sci-container">

        <div class="">
            <h2>{{ page.research.title }}</h2>
            <section class="grid-row">
                {% if page.opportunities %}
                {% for card in page.opportunities %}
                {% include components/select-card.html card=card %}
                {% endfor %}
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endif %}
{% if page.research %}
<div class="grid-row usa-section--dark" aria-label="Use Cases">
    <div class="grid-container sci-container">
        <section class="usa-section {% if page.icons %} graphic-links {% endif %} grid-container">
            <h3>{{ page.research.alter }}</h3>
            {% include graphic-links.html graphics=page.icons %}
        </section>
        <!--SCINet funded Research fellowship opportunities-->
    </div>
</div>
{% endif %}
<div class="grid-row sci-container">
    <!--Support-->
</div>

<div class="grid-row sci-container" aria-label="{{ page.title }}">
    <div class="grid-container">
        <div class="usa-layout-docs usa-layout-docs__main usa-prose ">
            {{ content }}
        </div>
    </div>
</div>
